.mohan-content{
    min-height: 600px;
}

#banner_image{
    min-height: 600px;
    padding-top: 175px;
    padding-bottom: 175px;
    text-align: center;
    color: #f8f8f8;
    background-image: url(img/intro-bg_1.jpg);
    background-size: cover;
}

.banner_content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}

.mohan-footer{
    width: 100%;
    padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
}

@media(max-width:992px){
    .mohan-footer{
        position: absolute;
        width: 100%;
    }
}

@media(min-width:768px){
    .float-media-query{
        float: right;
    }
}
